* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#dishes {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#dishes td,
#dishes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dishes tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dishes tr:hover {
  background-color: #ddd;
}

#dishes th {
  padding: 12px 0;
  text-align: center;
  background-color: #4caf50;
  color: #fff;
}

.container {
  padding: 1rem;
}

.errorMessage {
  text-align: center;
  color: red;
  margin-top: 1rem;
}
