* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#dishes {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#dishes td,
#dishes th {
  border: 1px solid #ddd;
  padding: 8px;
}

#dishes tr:nth-child(even) {
  background-color: #f2f2f2;
}

#dishes tr:hover {
  background-color: #ddd;
}

#dishes th {
  padding: 12px 0;
  text-align: center;
  background-color: #4caf50;
  color: #fff;
}

.container {
  padding: 1rem;
}

.errorMessage {
  text-align: center;
  color: red;
  margin-top: 1rem;
}

.errorContainer {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 350px;
  margin: 10px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  line-height: 2;
}
